@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,400;1,500&display=swap');

 *{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: 'Krub', sans-serif;
  font-size: 24px;
}

html {
	height: 100vh;
}

body {
	height: 100%;
	width: 100%;
	padding-top: 56px;
	position: relative;
}